<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>


<div class="container">
    <h2>Complete Your Payment</h2>
    <p>Room: {{ room.Room_name }}</p>
    <p>Amount: ₹{{ order_amount / 100 }}</p>
    <form id="razorpay-form">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="{{ razorpay_merchant_key }}"
            data-amount="{{ order_amount }}"
            data-currency="{{ currency }}"
            data-order_id="{{ razorpay_order_id }}"
            data-buttontext="Pay Now"
            data-name="Room Booking"
            data-description="Payment for room booking"
            data-prefill.name="{{ room.Name }}"
            data-prefill.email="{{ room.Email }}"
            data-theme.color="#528FF0"
        ></script>
        <input type="hidden" value="Hidden Element" name="hidden">
    </form>
</div>



</body>
</html>